<project>
  <files>
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="C#"/>
        <filter
          name="Java"/>
        <filter
          name="Python"/>
      </watched>
      <dir
        name="CSharp">
        <dir
          name="obj">
          <dir
            name="Debug">
            <dir
              name="net9.0">
              <auto
                name="CSharp.AssemblyInfo.cs"/>
              <auto
                name="CSharp.GlobalUsings.g.cs"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="src">
          <auto
            name="MyArray.cs"/>
          <auto
            name="MyDeque.cs"/>
          <auto
            name="MyLinkedList.cs"/>
          <auto
            name="MyQueue.cs"/>
          <auto
            name="MyStack.cs"/>
        </dir>
        <dir
          name="test">
          <auto
            name="MyArrayTest.cs"/>
          <auto
            name="MyDequeTest.cs"/>
          <auto
            name="MyLinkedListTest.cs"/>
          <auto
            name="MyQueueTest.cs"/>
          <auto
            name="StackTest.cs"/>
        </dir>
      </dir>
      <dir
        name="Java">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="revian">
                  <auto
                    name="MyArray.java"/>
                  <auto
                    name="MyDeque.java"/>
                  <auto
                    name="MyLinkedList.java"/>
                  <auto
                    name="MyQueue.java"/>
                  <auto
                    name="MyStack.java"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="revian">
                  <auto
                    name="MyArrayTest.java"/>
                  <auto
                    name="MyDequeTest.java"/>
                  <auto
                    name="MyLinkedListTest.java"/>
                  <auto
                    name="MyQueueTest.java"/>
                  <auto
                    name="MyStackTest.java"/>
                  <auto
                    name="StepDefinitions.java"/>
                  <auto
                    name="TestRunner.java"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="Python">
        <dir
          name="src">
          <auto
            name="__init__.py"/>
          <auto
            name="my_array.py"/>
          <auto
            name="my_deque.py"/>
          <auto
            name="my_linked_list.py"/>
          <auto
            name="my_queue.py"/>
          <auto
            name="my_stack.py"/>
        </dir>
        <dir
          name="tests">
          <auto
            name="__init__.py"/>
          <dir
            name="features">
            <auto
              name="__init__.py"/>
            <dir
              name="steps">
              <auto
                name="__init__.py"/>
              <auto
                name="steps.py"/>
            </dir>
          </dir>
          <auto
            name="test_my_array.py"/>
          <auto
            name="test_my_deque.py"/>
          <auto
            name="test_my_linked_list.py"/>
          <auto
            name="test_my_queue.py"/>
          <auto
            name="test_my_stack.py"/>
        </dir>
      </dir>
    </dir>
  </files>
</project>
